<!DOCTYPE html">
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/static/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/jquery.hashtags.css">
<link rel="stylesheet" href="/static/css/overlay.css">
<link rel="stylesheet" href="/static/css/main.css">
<title>ShareMe</title>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="photo-container">
				<span class="clicked-picture">
    		<canvas class="snapshot"></canvas>
			 </span>
			</div>
		</div>
	</div>
</body>
</html>
