<!DOCTYPE html">
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/static/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/jquery.hashtags.css">
<link rel="stylesheet" href="/static/css/overlay.css">
<link rel="stylesheet" href="/static/css/main.css">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/facebook.js"></script>
<script type="text/javascript" src="/static/js/photo.js"></script>
<script type="text/javascript" src="/static/js/autosize.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.hashtags.js"></script>
<script type="text/javascript" src="/static/js/loading-overlay.min.js"></script>
<script type="text/javascript" src="/static/js/dropzone.js"></script>
<title>ShareMei</title>
</head>
<body>
	<script>
	var accessToken;
  // This is called with the results from from FB.getLoginStatus().

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
	<div class="wrapper">
		<div class="container">
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="float:right;">
		</fb:login-button>
		<input id="access-token" class="hide">
		<div id="status">
		</div>
			<div class="photo-container">
				<span class="clicked-picture">
				<div class="video-wrapper">
					<video autoplay></video>
					<div>
						<button id="snapshot">Take snapshot</button>
					</div>
				</div>
    		<canvas class="snapshot hide"></canvas>
			 </span>
			</div>
			<div class="tag-container">
				<!-- <label for="tags">Tags</label> -->
				<textarea type="text" name="tags" class="hashtags" placeholder="hastags here..."></textarea>
			</div>
			<div class="btn-group">
				<div class="btn">
					<div class="fb-share-button" data-href="https://github.com/webrtc/samples" data-layout="button_count" data-size="large" data-mobile-iframe="true"><button class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share Photo</button></div>
				</div>
				<div class="btn">
				 	<button class="btn-share-instagram">Share Somewhere</button>
				 </div>
			</div>
		</div>
	</div>
	<div id="fb-root"></div>
	<script type="text/javascript" src="/static/js/main.js"></script>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id))
		  return;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
